.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-fade {
    color: #7F7F7F;
}

.text-fade > a {
    color: #ccc;
}

.small. .small > a {
    font-size: 11px;
}

ul.list-inline li {
    display: inline-block;
    margin-right: 1.4em;
}

.social-media-icons {
    margin-top: 12px;
}

.social-media-icons .fa {
    font-size: 30px;
}

.social-media-icons a {
    color: #7F7F7F !important;
}

.social-media-icons a:hover {
    color: #963947 !important;
}

.symbol .material-icons, .symbol .fa {
    font-size: 100px;
    font-weight: lighter;
    color: #963947;
}

.border-red {
    border: 1px solid red;
}

.border-gold {
    border: 1px solid gold;
}

.icon-col {
    width: 10%;
    float: left;
    padding-top: 0.4em;
}

.icon-col i {
    font-size: 24px;
}

.heading-col {
    width: 85%;
    float: left;
    padding-left: 0.4em;
    cursor: pointer;
}

.panel-default {
    margin-bottom: 1em !important;
}

.panel-heading, .panel-heading .heading-col h3 {
    color: #963947 !important;
    padding-bottom: 0.6em;
}

.hide {
    display: none !important;
}
